<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="statics/style.css" type="text/css" />
    <title>Radikocast</title>
  </head>
  <body>
    <div class="site">
      <h1>Radikocast</h1>
      <p>radiko.jp to Poditem</p>
    </div>

    <div class="page">
      <h1>せつめい!</h1>
      <p>radiko.jpの番組を録音して、Podcast化しています。</p>

      <p>
	一般公開すると怒られる気がするので、録音ファイルにはベーシック認証をかけています。
	ボクのお友達にはパスワードを教えるので、<a href="http://twitter.com/mzp">@mzp</a>まで連絡ください。
      </p>

      <p>
	ソースコードは、<a href="http://github.com/mzp/radikocast">github</a>にあります。自由につかってください。</p>

      <h1>番組一覧</h1>
      {{for item in items}}
      <div class="section">
	<h2>{{ item['title'] }}</h2>
	<p><a href="?m=podcast&name={{ item['name'] }}">購読</a></p>
	<table>
	  <tr>
	    <td>録音時刻(時間)</td>
	    <td>{{ item['time'].strftime("%p %I:%M") }}
	      ({{ item['airtime'].seconds / 60}}分)</td>
	  </tr>
	  <tr>
	    <td>繰り返し録音</td>
	    <td>{{ "有効" if item['repeat'] else "無効" }}</td>
	  </tr>
	  <tr>
	    <td>最新録音日時</td>
	    <td>{{ item['created_at'].isoformat() }}</td>
	  </tr>
	  <tr>
	    <td>最新録音番組</td>
	    <td><audio src="{{ item['path']}}" controls="true"/></td>
	  </tr>
	</table>
      </div>
      {{endfor}}
    </div>
  </body>
</html>
