<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="statics/style.css" type="text/css" />
    <title>Radikoitem</title>
  </head>
  <body>
    <div class="site">
      <h1>Radikoitem</h1>
      <p>radiko.jp to Poditem</p>
    </div>

    <div class="page">
      <h1>番組一覧</h1>
      {{for item in items}}
      <div class="section">
	<h2>{{ item['title'] }}</h2>
	<p><a href="?m=poditem&name={{ item['name'] }}">購読</a></p>
	<table>
	  <tr>
	    <td>録音時刻(時間)</td>
	    <td>{{ item['time'].strftime("%p %I:%M") }}
	      ({{ item['airtime'].seconds / 60}}分)</td>
	  </tr>
	  <tr>
	    <td>繰り返し録音</td>
	    <td>{{ "有効" if item['repeat'] else "無効" }}</td>
	  </tr>
	  <tr>
	    <td>最新録音日時</td>
	    <td>{{ item['created_at'].isoformat() }}</td>
	  </tr>
	  <tr>
	    <td>最新録音番組</td>
	    <td><audio src="{{ item['path']}}" controls="true"/></td>
	  </tr>
	</table>
      </div>
      {{endfor}}
    </div>
  </body>
</html>
